body {
  font-family: 'Inter', sans-serif;
}

h1 {
  font-size: 39px;;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

#nav-container {
  background-color: #21222A;
  margin-bottom: 0;
 


}

#nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DEEBF8;
  padding: 18px 25px;
  /* height: 91px; */
  width: auto;
}

#nav-left {
  color: #61DAFB;
  display: flex;
  align-items: center;
  font-size: 22px;
}

#nav-left img {
  height: 28.93px;
  width: 28.93px;
  justify-content: center;
}

#facts-container {
  background-color: #282D35;
  height: 459px;
  width: auto;
  margin-top: 0px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  background-image: url(./assets/Group.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

#facts-content {
  color:#FFF;
  font-size: 16px;
  z-index: 0;
  position: relative;
}

#fact-list {
  margin-top: 46px;
  display:block;
  align-items: center;
  max-width: 400px;
}

#facts-content ul  {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  /* list-style: none;   */
}

#facts-content li::marker {
  font-size: 1.5rem;
  color: #61DAFB;
}



/* li::before {
  content: "\2022";  
  color: #61DAFB; 
  display: inline-block; 
  font-size:x-large;
  width: 1em; 
  margin-left: -1em;
} */

#bgd-logo {
  margin: 127px 0px 109px 423px;
  z-index: 2;
  position:fixed;

}