body {
  font-family: 'Inter', sans-serif;
}

h4 {
  font-size: 16px;
  font-weight: 600;
}

#nav-container {
  background-color: #21222A;
  margin-bottom: 0;
 


}

#nav-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #DEEBF8;
  padding: 18px 25px;
  /* height: 91px; */
  width: auto;
}

#nav-left {
  color: #61DAFB;
  display: flex;
  align-items: center;
  font-size: 22px;
}

#nav-left img {
  height: 28.93px;
  width: 28.93px;
  justify-content: center;
}

#facts-container {
  background-color: #282D35;
  height: 459px;
  width: auto;
  margin-top: 0px;
  padding: 30px;
}

#facts-content {
  color:#FFF;
  font-size: 16px;
}

#fact-list {
  margin-top: 46px;
  /* display:flex; */
  align-items: center;
}

#facts-content ul  {
  font-weight: 400;
  line-height: 200%;
  list-style: none;
  
}

.list-item {
  padding: 20px auto;
   
}

li::before {
  content: "";
  background: #61DAFB;
  border-radius: 1ch;
  padding-inline: 9.60px;
  margin-inline-end: 13.39px;
}