@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Karla:wght@700&display=swap');



body {
    width: 550px;
}

nav {
    font-family: Inter,sans-serif;
}

input {
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    height: 35px;
    font-family: Karla, sans-serif;
    text-indent: 5px;
}

button {
    color: #FFF;
    text-align: center;
    font-family: Karla;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height:40px;
    /* letter-spacing: -1.6px; */
}

/* Header Styles */

#header-navbar {
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    display: flex;
    justify-content: space-between;
    width:550px;
    height: 65px;
    align-items: center;
}

#header-navbar img {
    justify-self: center;
    margin-right: 10px;;
}
#header-left {
    padding:20px;
    display: flex;
}
#app-title {
    color: #FFF;
    font-family: Karla, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.075px;
}

#app-info {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 25px 37px;
}

/* Input Section Styling */

#form-container {
    display: grid;
    grid-template-rows: 40px 40px/ 1fr 1fr;
    gap: 17px;
    margin: 36px;
}

#meme-button {
    grid-row-start: 2;
    grid-column: 1/ span 2;
    border-radius: 5px;
    background: linear-gradient(90deg, #711F8D 1.14%, #A818DA 100%);
    text-align: center;
    height: 40px;
    border: none;
    
}
